<div
class="modal fade"
 id="modalAddToCartProduct<%= prod._id %>"
 tabindex="-1"
 role="dialog"
 aria-label="myModalLabel"
 aria-hidden="true"
 >
 <div class="modal-dialog">
    <div class="modal-content ">
       <div class="modal-header">
          <button
             type="button"
             class="close"
             data-dismiss="modal"
             aria-hidden="true"
             >
          <span class="icon icon-clear"></span>
          </button>
       </div>
       <div class="modal-body">
          <div class="tt-modal-addtocart mobile">
             <div class="tt-modal-messages">
                <i class="icon-f-68"></i> Added!
             </div>
             <button class="btn-link btn-close-popup" data-dismiss="modal">Continue shopping</button>
             <a href="/shopping_cart" class="btn-link">See your cart</a>
             <%if (typeof(user) !== 'undefined' && user.isAuthenticated) { %>
             <a href="/add-order" class="btn">Checkout!</a>
             <% }else if(typeof(user) == 'undefined'){ %>
             <a href="/login" class="btn">Login to checkout!</a>
             <% }else if(typeof(user) !== 'undefined' && !user.isAuthenticated){ %>
             <a href="/verify-email" class="btn">Vertify your email!</a>
             <% } %>
          </div>
          <div class="tt-modal-addtocart desctope">
             <div class="row">
                <div class="col-12 col-lg-6">
                   <div class="tt-modal-messages">
                      <i class="icon-f-68"></i> Added!
                   </div>
                   <div class="tt-modal-product">
                      <div class="tt-img">
                         <img
                            src="/images/loader.svg"
                            data-src="<%= prod.images[0] %>"
                            alt=""
                            />
                      </div>
                      <h2 class="tt-title">
                         <a href="/product/<%= prod.name %>"><%= prod.name %></a>
                      </h2>
                      <div class="tt-qty">QTY: <span>1</span></div>
                   </div>
                   <div class="tt-product-total">
                      <div class="tt-total">
                         TOTAL:
                         <span class="tt-price">$<%= prod.price %></span>
                      </div>
                   </div>
                </div>
                <div class="col-12 col-lg-4">
                   <a href="#" class="btn btn-border btn-close-popup" data-dismiss="modal"
                      >Continue shopping</a
                      >
                   <a href="/shopping_cart" class="btn btn-border">See your cart</a>
                   <%if (typeof(user) !== 'undefined' && user.isAuthenticated) { %>
                   <a href="/add-order" class="btn">Checkout!</a>
                   <% }else if(typeof(user) == 'undefined'){ %>
                   <a href="/login" class="btn">Login to checkout!</a>
                   <% }else if(typeof(user) !== 'undefined' && !user.isAuthenticated){ %>
                   <a href="/verify-email" class="btn">Vertify your email!</a>
                   <% } %>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>
                 