<!DOCTYPE html>
<html lang="en">
   <head>
      <% include partials/head %>
   </head>
   <body>
      <header>
      <% include partials/header %>
      </header>
      <div class="tt-breadcrumb">
         <div class="container">
            <ul>
               <li><a href="/">Home</a></li>
               <li>Collection</li>
            </ul>
         </div>
      </div>
      <div id="tt-pageContent">
         <div class="container-indent">
            <div class="container">
               <div class="row">
                  <div class="col-md-4 col-lg-3 col-xl-3 leftColumn aside">
                     <div class="tt-btn-col-close">
                        <a href="#">Đóng</a>
                     </div>
                     <div class="tt-collapse open tt-filter-detach-option">
                        <div class="tt-collapse-content">
                           <div class="filters-mobile">
                              <div class="filters-row-select">
                              </div>
                           </div>
                        </div>
                     </div>
                     <form method="GET">
                        <div class="tt-collapse open">
                           <h3 class="tt-collapse-title">CATEGORY</h3>
                           <div class="tt-collapse-content">
                              <ul class="tt-list-row">
                                 <% categories.forEach(function(cat) { %>
                                 <%if (cat == currentCat) { %>
                                 <li class ="active">
                                    <a href="/products/<%= cat %>"><%= cat %></a>
                                 </li>
                                 </li>
                                 <% categoriesChild.forEach(function(child) { %>
                                 <%if (child == currentChild) { %>
                                 <li class="active" style="margin-left: 10px;">
                                    <a href="/products/<%= cat %>/<%= child %>"><%= child %></a>
                                 </li>
                                 </li>
                                 <% }; %>
                                 <%if (child != currentChild) { %>
                                 <li style="margin-left: 10px;">
                                    <a href="/products/<%= cat %>/<%= child %>"><%= child %></a>
                                 </li>
                                 </li>
                                 <% }; %>
                                 <% }); %>
                                 <% }; %>
                                 <%if (cat != currentCat) { %>
                                 <li>
                                    <a href="/products/<%= cat %>"><%= cat %></a>
                                 </li>
                                 </li>
                                 <% }; %>
                                 <% }); %>
                              </ul>
                           </div>
                        </div>
                        <h3 class="tt-collapse-title">FILTER BY</h3>
                        <div class="tt-collapse open">
                           <h3 class="tt-collapse-title">PRICE</h3>
                           <div class="tt-collapse-content">
                              <ul class="tt-list-row" id="product-price">
                                 <li><input type="radio" name="price" value="50"> 0 — 200 000</li>
                                 <li><input type="radio" name="price" value="100"> 200 000 — 500 000</li>
                                 <li><input type="radio" name="price" value="150"> 500 000 — 1 triệu</li>
                                 <li><input type="radio" name="price" value="200"> 1 triệu —  2 triệu</li>
                                 <li><input type="radio" name="price" value="1000000"> > 2 triệu</li>
                              </ul>
                           </div>
                        </div>
                        <div class="tt-collapse open">
                           <h3 class="tt-collapse-title">SIZE</h3>
                           <div class="tt-collapse-content">
                              <ul class="tt-list-row" id="product-size">
                                 <li><input type="radio" name="size" value="S"> S</li>
                                 <li><input type="radio" name="size" value="M"> M</li>
                                 <li><input type="radio" name="size" value="L"> L</li>
                                 <li><input type="radio" name="size" value="XL"> XL</li>
                              </ul>
                           </div>
                        </div>
                        <div class="tt-collapse open">
                           <h3 class="tt-collapse-title">Label - Brand</h3>
                           <div class="tt-collapse-content">
                              <ul class="tt-list-row" id="product-label">
                                 <li><input type="radio" name="label" value="A"> A</li>
                                 <li><input type="radio" name="label" value="B"> B</li>
                                 <li><input type="radio" name="label" value="C"> C</li>
                                 <li><input type="radio" name="label" value="D"> D</li>
                              </ul>
                           </div>
                        </div>
                        <button type="submit" class="btn btn-border mx-auto mb-5">FILTER</button>
                     </form>
                     <div class="tt-content-aside">
                        <a href="/products" class="tt-promo-03">
                        <img src="https://via.placeholder.com/350x700" alt="">
                        </a>
                     </div>
                  </div>
                  <div class="col-md-12 col-lg-9 col-xl-9">
                     <div class="content-indent container-fluid-custom-mobile-padding-02">
                        <div class="tt-filters-options">
                           <h1 class="tt-title">
                              Collection
                           </h1>
                           <div class="tt-btn-toggle">
                              <a href="#">Lọc</a>
                           </div>
                           <div class="tt-sort tt-sort-1">
                              <form class="woocommerce-ordering" method="GET" >
                                 <select name="orderby" class="orderby" aria-label="Shop order" onchange="this.form.submit()">
                                    <option value="" selected disabled hidden><%= sort_value %></option>
                                    <option value="1" >PRICE: LOW FIRST</option>
                                    <option value="-1" >PRICE: HIGH FIRST</option>
                                 </select>
                              </form>
                           </div>
                           <div class="tt-sort tt-sort-2">
                              <form method="POST">
                                 <select name="numItems" onchange="this.form.submit()" class="form-control">
                                    <% if(ITEM_PER_PAGE != 1000){%>
                                    <option value="" selected disabled hidden><%= ITEM_PER_PAGE%></option>
                                    <% }else{%>
                                    <option value="" selected disabled hidden>ALL</option>
                                    <% } %>
                                    <option value="8" >8</option>
                                    <option value="12" >12</option>
                                    <option value="16" >16</option>
                                    <option value="32" >32</option>
                                    <option value="1000" >All</option>
                                 </select>
                              </form>
                           </div>
                        </div>
                        <div class="tt-product-listing row">
                           <% allProducts.forEach(function(prod) { %>
                           <div class="col-6 col-md-4 col-lg-3">
                              <div class="tt-product thumbprod-center">
                                 <div class="tt-image-box">
                                    <a href="/<%= prod._id %>">
                                    <span class="tt-img"><img src="<%= prod.images[0] %>" data-src="<%= prod.images[0] %>" alt="" class="loaded" data-was-processed="true"></span>
                                    </a>
                                 </div>
                                 <div class="tt-description">
                                    <div class="tt-row">
                                       <ul class="tt-add-info">
                                          <li><a href="#"><%= prod.productType.sub %></a></li>
                                       </ul>
                                    </div>
                                    <h2 class="tt-title"><a href="/<%= prod._id %>"><%= prod.name %></a></h2>
                                    <div class="tt-price">
                                       <%= prod.price %> VND
                                    </div>
                                    <div class="tt-product-inside-hover" >
                                       <div class="tt-row-btn">
                                          <button class="tt-btn-addtocart thumbprod-button-bg add-cart" data-id="<%= prod._id %>" data-toggle="modal" data-target="#modalAddToCartProduct<%= prod._id %>">ADD TO CART</button>
                                       </div>
                                       <div class="tt-row-btn">		
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!--Modal Cart -->
                           <% }); %>
                        </div>
                        <nav aria-label="Page navigation example" style="margin-top: 20px;">
                           <ul class="pagination justify-content-center">
                              <% if (currentPage !== 1){ %>
                              <li class="page-item">
                                 <a class="page-link" href="/products/?page=<%= previousPage %>" aria-label="Previous">
                                 <span aria-hidden="true">&laquo;</span>
                                 <span class="sr-only">Previous</span>
                                 </a>
                              </li>
                              <% } %>
                              <% if(hasPreviousPage ){  %>
                              <li class="page-item"><a class="page-link" href="?page=<%= previousPage %>"><%= previousPage %></a></li>
                              <% } %>
                              <li class="page-item active"><a class="page-link" href="javascript:void(0)" tabindex="-1"><%= currentPage %></a></li>
                              <% if(hasNextPage){  %>
                              <li class="page-item"><a class="page-link" href="?page=<%= nextPage %>"><%= nextPage %></a></li>
                              <% } %>
                              <% if(currentPage < lastPage){ %>
                              <li class="page-item">
                                 <a class="page-link" href="?page=<%= nextPage %>" aria-label="Next">
                                 <span aria-hidden="true">&raquo;</span>
                                 <span class="sr-only">Next</span>
                                 </a>
                              </li>
                              <% } %>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer>
         <% include partials/footer %>
      </footer>
      <a href="#" class="tt-back-to-top">BACK TO TOP</a>
      <% include partials/modal-addtocartproduct %>
      <% include partials/modal-quickviewmodal %>
      <% include partials/modal-videoproduct %>
      <% include partials/modal-subscribegood %>
      <% include partials/script %>
   </body>
</html>