<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>    
    <script src="./vendor/jquery-3.4.1.js"></script>
    <script src="./vendor/popper.min.js"></script>
    <script src="./vendor/wow.js"></script>
    <script src="./vendor/dropzone.js"></script>
    <link rel="stylesheet" href="./vendor/dropzone.css">
    <script src="./vendor/isotope.pkgd.min.js"></script>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./vendor/all.css">
    <link rel="stylesheet" href="./vendor/bootstrap.css">
     <!-- <link rel="stylesheet" href="/public/vendor/fontawesome.css"> -->
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
     <link rel="stylesheet" href="./vendor/animate.min.css">
    <link rel="stylesheet" href="./vendor/dropzone.css">
</head>
<body>
    
    <!-- header -->
    <header>
        <!-- top-header -->
        <div class="top-header">
            <span>Free Shipping Over $50</span>
            <span>Get 10% Off - Use Coupon Code HAPPYKIDS10</span>
        </div>
        <!-- end top-header -->
        <!-- logo -->
        <a href="/" class="logo wow animate__lightSpeedInRight" data-wow-duration="2s">
            <img src="./images/logo.png" alt="">
        </a>
        <!-- end logo -->
        <!-- admin button -->
        <a style="position: fixed; top: 60px; right: 50px;" href="/xem" class="btn btn-danger">Xem</a>

        <!-- menu -->
        <div class="menu">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 icon-user">
                        <a href="/login">
                            <i class="fa fa-user mr-2"></i> 
                            <span>Log In</span>
                        </a>
                    </div>
                    <!-- list menu -->
                    <div class="col-sm-8 list-menu">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/shop-collect">Shop Collection</a>
                            </li>
                            <li>
                                <a href="/our-story">Our Story</a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <!-- end list menu -->
                    <!-- icon cart -->
                    <div class="col-sm-2 icon-cart">
                        <a href="">
                            <i class="fa fa-shopping-cart"></i>
                            <span><%= session.cart.numItems%></span>
                        </a>
                    </div>
                    <!-- end icon cart -->
                </div>
            </div>
        </div>
        <!-- end menu -->
    </header>
    <hr class="mb-0">
    <!-- cart -->
    <div class="modal-box-cart">
        <div class="cart text-center overflow-auto">
            <div class="title">
                <img src="./images/arrow.png" alt="">
                <span>My Cart</span>
            </div>
            <!--Test-->

            <div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 bg-light">
                        <div class="p-2 px-3 text-uppercase">Product</div>
                      </th>
                      <th scope="col" class="border-0 bg-light">
                        <div class="py-2 text-uppercase">Price</div>
                      </th>
                      <th scope="col" class="border-0 bg-light">
                        <div class="py-2 text-uppercase">Quantity</div>
                      </th>
                      <th scope="col" class="border-0 bg-light">
                        <div class="py-2 text-uppercase"><a href="" class="text-dark">CLEAR</a></div>
                      </th>
                    </tr>
                  </thead>
                   <% if(cartProduct != null){ cartProduct.forEach(function(item){ %>

                    <tbody>
                      
                      <tr>
                        <th scope="row" class="border-0">
                          <div >
                            <img src="<%= item.images %>" alt="" width="70" class="img-fluid rounded shadow-sm">
                            <div class="d-inline-block align-middle">
                              <h5 class="mb-0"><strong><%= item.item.title %></strong></h5>
                            </div>
                          </div>
                        </th>
                        <td class="border-0 align-middle"><strong> <%= item.item.price %>  VNĐ</strong></td>
                       <td class="border-0 align-middle"><strong> <%= item.qty %></strong></td>
                        <td class="border-0 align-middle"><a href="/delete-item/<%= item.item._id %>">x</a></td>
                      </tr>
                    </tbody>
                    <%})}%>
                </table>
              </div>
            <!--Test-->
            <div class="ml-3 mr-3 text-left">
                <p>TOTAL</p>
                <p class="cost"><%= session.cart.totalPrice %> VNĐ</p>
                <a href="/my-cart" class="btn btn-dark btn-block">Check it out!</a>
            </div>
         
        </div>
    </div>
    <!-- end cart -->

    
    <!-- end header -->